// Primary color
$primary: #56aba4;
$secondary: #94b3b0;
$error: #ff0000;

// Gray;
$gray-100: #8080801f;
$gray-200: #8080803d;
$gray-300: #80808052;
$gray-400: #80808094;
$gray-500: #808080a6;
$gray-600: #8080807a;
$gray-700: #808080c4;
$gray-800: #727272;

// Background primary
$bg-primary: #1d1c25;
$bg-danger: #ff0000;

// Text Primary
$text-primary: #fff;
$text-danger: #ff0000;
